.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.container {
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(238, 174, 202, 1);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-wrap: wrap;
}

.container form .descr {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input,
textarea {
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: relative;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgba(148, 187, 233, 1) 100%;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  padding: 0.5em 1.5em;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );

  border: none;
  outline: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0, 0.5);
  letter-spacing: 0.08em;
  border-radius: 20em;
  cursor: pointer;
  transition: 0.5s;
}

.cssbuttons-io-button:hover {
  filter: brightness(1.2);
  color: rgb(0, 0, 0, 0.5);
}

.cssbuttons-io-button:active {
  transition: 0s;
  transform: rotate(-10deg);
}
